


/* Start:/css_v2/kupe.css*/
.form {
    /* border:1px solid #A2A2A2;*/
    
    width: 800px;
    line-height: 2;
}
.input {
    display: block;
    padding: 4px;
    vertical-align: top;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 13px;
    color: #000;
}
.textField {
    height: 25px;
}
.btn {
    display: block;
    background: url(/images_v2/goToCart.png) no-repeat;
    margin-top: 25px;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    width: 145px;
    height: 30px;
    float: left;
}
.close_btn {
    position: relative;
    /*margin-top: -40px;
    margin-left: 850px;*/
	left: 280px;
    display: block;
}
.ajax-loader {
    position: absolute;
    margin-left: 10px;
    margin-top: 3px;
    display: none;
}
p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}
p.ico {
    padding-left: 30px;
}
.ico-best {
    background: url(/images_v2/ico_info_best.png) no-repeat;
}
.kupeDescription ul {
    margin-left: 15px;
    list-style: disc;
    margin-bottom: 20px;
}
.kupeDescription ul li {
    font-size: 14px;
    line-height: 20px;
}
.kupeDescription h2 {
    margin-top: 40px;
}
.catalogSectionSlider {
    width: auto;
    max-width: 1100px;
    padding: 0 50px;
    margin: 15px 0;
    min-width: 884px;
    font-family: Arial, sans-serif;
    position: relative;
}
.catalogSectionSlider .prevBtn,
.catalogSectionSlider .nextBtn {
    position: absolute;
    left: 0;
    top: 50%;
    margin: -22px 0 0 0;
    width: 45px;
    height: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 50px;
    background: url(/images/catalogSectionSliderControls.png) 0 0 no-repeat;
}
.catalogSectionSlider .nextBtn {
    left: auto;
    right: 0;
    background-position: top right;
}
.catalogSectionSliderItem {
    float: left;
    overflow: hidden;
    position: relative;
}
.catalogSectionSliderItem img {
    width: 100%;
    vertical-align: top;
}
.catalogSectionSliderItemContent {
    width: 248px;
    min-height: 200px;
    background: #d6d6d6;
    border: solid 3px #d6d6d6;
    border-radius: 10px;
    margin: 0 auto;
}
.catalogSectionSliderItemPriceBox {
    position: absolute;
    toP: 20px;
    right: 10px;
    left: 10px;
    text-align: center;
}
.catalogSectionSliderItemPrice {
    background: #b30000;
    padding: 6px 10px 6px 10px;
    border-radius: 7px;
    color: #fff;
    min-width: 170px;
    display: inline-block;
    font-size: 22px;
    line-height: 24px;
    vertical-align: top;
}
.catalogSectionSliderItemPrice span {
    font-size: 14px;
}
.catalogSectionSliderItemBuy {
    background: #f3b90a;
    position: absolute;
    width: 176px;
    bottom: 18px;
    left: 50%;
    margin: 0 0 0 -88px;
    color: #004b8f;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    line-height: 38px;
    height: 38px;
    display: block;
    border-radius: 8px;
}
/*# sourceMappingURL=catalogSectionSlider.css.map */

.ourAdv {
    border: none;
    margin: 40px 0;
    width: 100%;
    max-width: 1200px;
}
.ourAdv td {
    padding: 0;
    vertical-align: top;
    text-align: left;
    width: 20%;
}
.ourAdv td + td {
    padding-left: 10px;
}
.ourAdvItem {
    display: inline-block;
    padding: 4px 0 0 65px;
    position: relative;
    color: #363636;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    white-space: nowrap;
}
.ourAdvItem .ico {
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 52px;
}
.ourAdvItem .ico.i1 {
    background: url(/images_v2/ourAdv.png) 0 0 no-repeat;
}
.ourAdvItem .ico.i2 {
    background: url(/images_v2/ourAdv.png) -60px 0 no-repeat;
}
.ourAdvItem .ico.i3 {
    background: url(/images_v2/ourAdv.png) -120px 0 no-repeat;
}
.ourAdvItem .ico.i4 {
    background: url(/images_v2/ourAdv.png) -180px 0 no-repeat;
}
.ourAdvItem .ico.i5 {
    background: url(/images_v2/ourAdv.png) -240px 0 no-repeat;
}

.buttonGlass {
  position: relative;
  display: inline-block;
  color: #777674;
  font-weight: bold;
  text-decoration: none;
  text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
  user-select: none;
  padding: 7px 0px;
  outline: none;
  width: 140px;
  border-radius: 3px / 100%;
  background-image:
   linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
   linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}
.buttonGlass:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
.buttonGlass:active {
  top: 1px;
}
#OrderHolderDiv
{
	position:absolute;
	background-color: #FFFFFF;
	padding:10px;
	left:40%;
	top:20%;
	width:300px;
	height:500px;
	margin-left:0px;
	z-index:1000;
	display:none;
	color:#000000;
	border-radius: 12px 12px 12px 12px;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border: 3px solid #000000;
	-webkit-box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.4);
}
#SelfMailHolderDiv
{
	position:absolute;
	background-color: #FFFFFF;
	padding:10px;
	left:40%;
	top:20%;
	width:300px;
	height:390px;
	margin-left:0px;
	z-index:1000;
	display:none;
	color:#000000;
	border-radius: 12px 12px 12px 12px;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border: 3px solid #000000;
	-webkit-box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.4);
}
